<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NFL Stats - Home Page</title>
</head>
<body>
<div id="heading">
    <h2>Quick Player Stats</h2>
</div>

    <form action="" method="get">
        <div id="search-area">
            <div>
            </div>

            <input type="radio" id="TeamsType" name="search-type" checked>
            <label for="TeamsType">Teams</label>
            <input type="radio" id="PlayersType" name="search-type">
            <label for="PlayersType">Players</label>
            <input type="text" name="searchVal" placeholder="Search...">
            <button type="submit">Submit</button>
        </div>

    </form>

    <div id="search-results" class="flex-results">

        <!--Player List render-->
        <div th:if="${playerList != null}">
            <div th:each="iterator:${playerList}">
                <div>
                    <h2 th:text="${iterator.getName()}"></h2>
                    <p th:text="${iterator.getNumber()}"></p>
                    <p th:text="${iterator.getPosition()}"></p>
                    <p>---------------------------------------</p>
                </div>

            </div>
        </div>

        <!--Teams List render-->
        <div th:if="${teamList != null}">
            <div th:each="iterator:${teamList}">
                <div>
                    <h2 th:text="${iterator.getName()}"></h2>
                    <p th:text="${iterator.getAbbreviation()}"></p>
                    <p>---------------------------------------</p>
                </div>
            </div>
        </div>

        <!-- Individual Team render-->
        <div th:if="${selectedTeam != null}">
            <h2 th:text="${selectedTeam.getName()}"></h2>
            <h3 th:text="${selectedTeam.getAbbreviation()}"></h3>

            <!--Player Collection-->
            <div th:if="${selectedTeam.getPlayerSet() != null}">

                <!--Each Player-->
                <div th:each="player:${selectedTeam.getPlayerSet()}">
                    <p th:text="${player.getName()}"></p>
                    <p th:text="${player.getPosition()}"></p>
                    <p th:text="${player.getNumber()}"></p>
                </div>
            </div>
        </div>

        <!--Game Log render-->
        <div th:if="${gamelogs != null}">

            <!--GameLog Collection-->
            <div th:each="game : ${gamelogs}">

                <!--Each Log-->
                <div>
                    <span th:text="${game.getDate()}"></span>
                    <span th:text="${game.getOpponent()}"></span>
                    <span th:text="${game.getPassingYds()}"></span>
                    <span th:text="${game.getReceivingYds()}"></span>
                    <span th:text="${game.getRushingYds()}"></span>
                </div>

            </div>
        </div>

    </div>

</body>
</html>